database__client="mysql"
database__connection__port="3306"
database__connection__host="ghost-db"
database__connection__user="ghosty"
database__connection__password="password"
database__connection__database="ghost"
NODE_ENV="production"
url="production-domain-here"
server__host="ghost"
server__port="2368"